.main {
  height: 100vh;

  .mask,
  .body {
    // width: 80%;
    // width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afa18f;
    font-size: 64px;
    line-height: 66px;
    cursor: default;

    p {
      width: 100%;
      padding: 40px;
    }
    span {
      color: #ec4e39;
    }
  }

  .mask {
    -webkit-mask-image: url("./mask.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 40px;
    background: #ec4e39;
    position: absolute;
    color: black;
  }
}
